// variables

// Colors
$black: #383838;
$purple: #2a38c3;

// Spacing
$spacer: 2rem;

// Mixins
@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
  background-repeat: repeat-x;
  background-image: linear-gradient($deg, $start-color, $end-color);
}

// Animation
@keyframes animate-gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700');
html,
body {
  min-height: 100%;
}

body {
  @include gradient-directional(LightSalmon , LightYellow , 45deg);
  animation: animate-gradient 15s ease infinite;
  background-size: 400% 400%;
  color: $black;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 150%;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: $purple;
}

.button {
  background-color: transparent;
  border: 3px solid $black;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.5;
  padding: $spacer/2 $spacer;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.keyboard-only {
  display: none;
  @media (hover: hover) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
  }
}

.pads {
  display: none;
  @media (hover: none) {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: calc(100vh - 6px);
    padding: 3px;
    .pad {
      background-color: rgba(255,255,255,0.2);
      background-position: center;
      transition: background 0.3s;
    
      &:hover {
        background: LightSalmon radial-gradient(circle, transparent 1%, LightSalmon 1%) center/15000%;
      }
      &:active {
        background-color: rgba(255,255,255,0.2);
        background-size: 100%;
        transition: background 0s;
      }
    }
  }
}

.content {
  padding: $spacer;
}

.contact {
  border: 3px solid $purple;
  box-shadow: 4px 5px 0px 0px $purple;
  cursor: pointer;
  display: inline-block;
  margin: 0 $spacer;
  padding: $spacer/2 $spacer;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 14px 15px 0px 0px $purple;
    transform: translate(-10px, -10px);
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.footer {
  margin-top: auto;
  padding: $spacer;
}

.keys {
  display: none;
}