// variables

// Colors
$black: #383838;
$purple: #2a38c3;

// Spacing
$spacer: 2rem;

// Mixins
@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
  background-repeat: repeat-x;
  background-image: linear-gradient($deg, $start-color, $end-color);
}

// Animation
@keyframes animate-gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700');

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  @include gradient-directional(LightSalmon , LightYellow , 45deg);
  animation: animate-gradient 15s ease infinite;
  background-size: 400% 400%;
  color: $black;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 150%;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: $purple;
}

.wrapper {
  display: none;
  @media only screen and (min-width: 769px) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
  }
}

.pads {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;

  .pad {
    background-color: transparent;
    border: 3px solid $purple;
    flex-grow: 1;
    height: 25vh;
    transition: background-color 0.3s ease;
    width: calc(100vw / 3);

    &:active {
      background-color: LightSalmon;
    }
  }
  @media only screen and (min-width: 769px) {
    display: none;
  }
}

.content {
  padding: $spacer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.footer {
  margin-top: auto;
  padding: $spacer;
}