// variables

// Colors
$black: #383838;
$purple: #2a38c3;

// Spacing
$spacer: 2rem;

// Mixins and Functions
@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
  background-repeat: repeat-x;
  background-image: linear-gradient($deg, $start-color, $end-color);
}

// Animation
@keyframes animate-gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700');

*, *:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  @include gradient-directional(LightSalmon , LightYellow , 45deg);
  animation: animate-gradient 15s ease infinite;
  background-size: 400% 400%;
  color: $black;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 150%;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: $purple;
}

.wrapper {
  display: none;
  @media (hover: hover) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
  }
}

.pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: $spacer/3;
  height: 100vh;
  padding: $spacer/3;
  width: 100vw;

  .pad {
    background-color: rgba(255,255,255,.4);
    box-shadow: 0 5px 10px rgba(0,0,0,0.05), 0 3px 3px rgba(0,0,0,0.07);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(255,255,255,.2);
    }

    &:active {
      background-color: LightSalmon;
    }

  }
  @media (hover: hover) {
    display: none;
  }
}

.content {
  margin: 0 auto;
  padding: $spacer;
  max-width: 26em;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.footer {
  margin-top: auto;
  padding: $spacer;
}
